#dropzone-dragpath-wrapper{
    min-height: 250px;
    background: #eee;
    border: 1px solid #ddd;
    position: relative;
}
#dropzone-dragpath-wrapper.dz-active{
    background: white;
    border: unset;
}
#dropzone-dragpath-wrapper .dropzone-label{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    overflow: hidden;
    text-align: center;
    font-size: 2em;
}
#dropzone-dragpath-wrapper.dz-active .dropzone-label{
    display: none;
}

#dropzone-dragpath-wrapper .dropzone-label span,
.dz .dzOverlay span,
.dz .dzPropertyOverlay .dzPropertyOverlayTarget span{
    position: relative;
    top: calc(50% - 1em);
}

.dzOverlay{
    display: none;
    text-align: center;
    background-color: rgba(238,238,238,0.75);
    border: 1px solid white;
    box-sizing: border-box;
    font-size: 1.5em;
}

/* Active type selection block */
.dz-active .dzOverlay{
    display: block;
    position: absolute;
    height: 150px;
    width: 33.33%;
    z-index: 1000;    
}

/* Type property container defaults */
.dz .dzPropertyOverlay{
    display: none;
    text-align: center;
    background-color: rgba(238,238,238,0.75);
    font-size: 1.25em;
}

/* Active type property container */
.dz-active .dzPropertyOverlay.dz-property-active{
    display: block;
    position: absolute;
    left: 0;
    height: 150px;
    width: 100%;
    z-index: 1050;
}

/* Option selection block */
.dz .dzPropertyOverlay .dzPropertyOverlayTarget{
    border: 1px solid white;
    box-sizing: border-box;
    display: inline-block;
    height: 150px;
}

/* Highlight selected targets */
.dz-active .dzOverlay.dz-type-active,
.dz-active .dzPropertyOverlay .dzPropertyOverlayTarget.dz-property-selected{
    background-color: rgba(0,65,79,0.35);
    color: white;
    font-weight: bold;
}